<h2>管理画面　予約一覧</h2>
<section class="admin_user_index">
  <table border="1" class="index_table">
    <tr class="user_header">
      <th>名前</th>
      <th>アクティビティ</th>
      <th>email</th>
      <th>電話番号</th>
      <th>住所</th>
      <th>希望日程</th>
      <th>大人人数</th>
      <th>子供人数</th>
      <th>質問・備考</th>
      <th>created_at</th>
      <th>削除</th>
    </tr>
    <% @requests.each do |request| %>
        <% @activity = @activities.find_by(id: request.activity_id) %>
        <tr class="admin_reservations">
          <th><%= request.name %></th>
          <th><%= @activity.title %></th>
          <th><%= request.email %></th>
          <th><%= request.tel %></th>
          <th><%= request.address %></th>
          <th><%= request.request_date.strftime("%m月%d日%H時%M分") %></th>
          <th><%= request.people_adult %>人</th>
          <th><%= request.people_child %>人</th>
          <th><%= request.message %></th>
          <th><%= request.created_at.strftime("20%y年%m月%d日%H時%M分") %></th>
          <th><%= link_to '削除', request_path(request.id), method: :delete, class: "black",  data: {"turbolinks" => false} %></th>
        </tr>
      <% end %>
  </table>
</section>
