<h2>管理画面　アクティビティ一覧</h2>
<section class="admin_index">
  <table border="1" class="index_table">
    <tr class="user_header">
      <th>id</th>
      <th>title</th>
      <th>body</th>
      <th>値段：表示</th>
      <th>値段：大人</th>
      <th>値段：子供</th>
      <th>値段：ひとり</th>
      <th>表示</th>
      <th>created_at</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    <% @activities.each do |act| %>
      <tr class="admin_users">
        <th><%= act.id %></th>
        <th><%= act.title %></th>
        <th><%= act.body %></th>
        <th><%= act.price_display %></th>
        <th><%= act.price %></th>
        <th><%= act.price_for_child %></th>
        <th><%= act.price_for_one %></th>
        <th><%= act.display %></th>
        <th><%= act.created_at.strftime("%m月%d日%H時%M分") %></th>
        <th><%= link_to edit_activity_path(act), class: "table_edit" do %>編集<% end %></th>
        <th><%= link_to '削除', activity_path(act), method: :delete, class: "black" %></th>
      </tr>
    <% end %>
  </table>
  <div class="adminNewactivity">
    <button type="button" name="button"><%= link_to "新規作成", new_activity_path, class: "black",  data: {"turbolinks" => false} %></button>
  </div>
</section>
