<!DOCTYPE html>
<html>
  <head>
    <title>Asobasal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'false' %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <ul class="headerLeft">
        <li class=navbar-center>
          <%= link_to "アクティビティ", activities_path, data: {"turbolinks" => false} %>
        </li>
      </ul>
      <div class="logo">
        <%= link_to root_path, data: {"turbolinks" => false}  do %>
          <img class="logoImage" src="/assets/logo_w.png" alt="">
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="headerRight">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="headerRight">
          <%= link_to new_request_path, data: {"turbolinks" => false}  do %>
            <h3>予約問い合わせ</h3>
          <% end %>
        </div>
      <% end %>
    </header>
    <main>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    </main>
    <footer>
      <div class="footerLeft">
        <a href="https://instagram.com/be_yan_kappa_guide?igshid=qm7fwrm12pzw" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100017020120504" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>

        <p class="c">©︎ RyosukeOnishi</p>
      </div>
      <div class="footerCenter">
        <div class="footerOpen footerCenterItem">
          <img class="footerLogoImage" src="/assets/logo_w.png" alt="">
        </div>
      </div>
      <div class="footerRight">
        <h4>Address</h4>
        <p>北海道上川郡下川町</p>
        <p class="c_responsive">©︎ RyosukeOnishi</p>
      </div>
    </footer>


  </body>
</html>
